.navigation-container {
    ul {
        margin: 0;
        padding: 20px 0;
        display: flex;
        background: #263238;
        li {
            list-style: none;
            padding: 0 20px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}